In [443]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
from datetime import datetime

In [490]:
data = pd.read_csv('movie_bd_v5.csv')

In [445]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [446]:
answers = {} # creating dictionary for answers
answers_2 = {} # creating dictionary for 2nd answers
data['profit'] = data['revenue'] - data['budget'] #adding new column 'Profit'
# завернем в функцию и будем использовать в дальнейшем
def counter(movie_bd, x):
    data_tmp=movie_bd[x].str.cat(sep='|') # превращаем все в одну строку
    data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
    data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
    return data_tmp

def counter_2(income_list):
    list_unique = []
    for i in income_list:
        if i not in list_unique:
            list_unique.append(i)
    c = collections.Counter()
    for word in cast_list:
        c[word] += 1
    return c

# 1. У какого фильма из списка самый большой бюджет?Допилить

In [447]:
data_1 = data # adding local data DF to use in answer for 1st question.
max_budget_mask = data_1.budget == data_1.budget.max() #making mask to know film with max budget
data_1 = data_1[max_budget_mask] #using mask to filter only one film from DF

answers ['1'] = data_1['imdb_id'] # putting imdb_id into answers dict

## Second option

In [448]:
answers_2 ['1'] = data[data.runtime == data.runtime.max()]['imdb_id']

# 2. Какой из фильмов самый длительный (в минутах)?

In [449]:
data_2 = data # adding local data DF to use in answer for 1st question.
max_runtime_mask = data_2.runtime == data_2.runtime.max() #making mask to know film with max runtime
data_2 = data_2[max_runtime_mask] #using mask to filter only one film from DF

answers ['2'] = data_2['imdb_id'] # putting imdb_id into answers dict

## Second option

In [450]:
answers_2 ['2'] = data[data.runtime == data.runtime.max()]['imdb_id']

# 3. Какой из фильмов самый короткий (в минутах)?

In [451]:
data_3 = data # adding local data DF to use in answer for 1st question.
min_runtime_mask = data_3.runtime == data_3.runtime.min() #making mask to know film with min runtime
data_3 = data_3[min_runtime_mask] #using mask to filter only one film from DF

answers ['3'] = data_3['imdb_id'] # putting imdb_id into answers dict

## Second option

In [452]:
answers_2 ['3'] = data[data.runtime == data.runtime.min()]['imdb_id']

# 4. Какова средняя длительность фильмов?

In [453]:
data_4 = data # adding local data DF to use in answer for 1st question.

answers['4'] =  data.runtime.mean() # avg runtime

## Second option

In [454]:
answers_2 ['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [455]:
data_5 = data # adding local data DF to use in answer for 1st question.

answers['5'] =  data.runtime.median() # avg runtime

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [456]:
answers['6'] = data[data.profit == data.profit.max()]['imdb_id']# avg runtime

# 7. Какой фильм самый убыточный?

In [457]:
answers['7'] = data[data.profit == data.profit.min()]['imdb_id']

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [458]:
answers['8'] = len(data[data.revenue > data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [459]:
data_2008 = data[(data.release_year == 2008)] #films from 2008 year

answers['9'] = data_2008[data_2008.revenue == data_2008.revenue.max()]['imdb_id'] #detecting film with highest revenue from 2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [460]:
data_interval = data[(data.release_year >= 2012) & (data.release_year <= 2014) ]

answers['10'] = data_interval[data_interval.profit == data_interval.profit.min()].imdb_id

# 11. Какого жанра фильмов больше всего?

In [461]:
data_all_gen = data[data.genres.str.contains("\D")]
sum_gen = counter(data_all_gen,'genres')

answers['11'] = sum_gen.loc[[sum_gen.idxmax()]]

## Second Option

In [462]:
genres_list = data.genres.str.split('|').sum()  # creating list of all genres

for i in genres_list:
    if i not in genres_unique:
        genres_unique.append(i)
        
c = collections.Counter()
for word in genres_list:
    c[word] += 1
    
df_genres = pd.DataFrame.from_dict(c, orient='index').reset_index()
df_genres = df_genres.rename(columns={'index':'genres', 0:'count'})

answers_2 ['11'] = df_genres[df_genres['count']==df_genres['count'].max()]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?  допилить

In [463]:
data_profit = data[data.profit > 0] #taking films with profit > 0
data_all_gen_profit = data_profit[data_profit.genres.str.contains("\D")]

sum_gen=counter(data_all_gen_profit,'genres')

answers['12'] = sum_gen.loc[[sum_gen.idxmax()]] #getting top value and writing it to the answers dict

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [464]:
data_director_rev = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False) #grouped by directors,
                                                                                #got sum of the revenue, sort by values
answers['13'] = data_director_rev.loc[[data_director_rev.idxmax()]]

# 14. Какой режисер снял больше всего фильмов в стиле Action? Допилить

In [465]:
data_all_gen = data[data.genres.str.contains("Action")] #geting str with Action
sum_gen=counter(data_all_gen,'director') #sending previously gotten DF to function

answers['14'] = sum_gen.loc[[sum_gen.idxmax()]]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? Допилить

In [537]:
data_2012 = data[data.release_year == 2012]
data_2012.cast = data_2012.cast.str.split('|')
data_2012 = data_2012.explode('cast')
data_2012 = pd.DataFrame(data_2012.groupby(['cast']).revenue.sum().sort_values(ascending = False))

answers ['15'] = data_2012.iloc[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [467]:
data_budget = data[data.budget > data.budget.mean()]
cast_list = data_budget.cast.str.split('|').sum()  # creating list of all genres
cast_unique = []                                   # creating list of unique genres
                                                    
for i in cast_list:
    if i not in cast_unique:
        cast_unique.append(i)

c = collections.Counter()
for word in cast_list:
    c[word] += 1
    
data_budget = pd.DataFrame.from_dict(c, orient='index').reset_index()
data_budget = data_budget.rename(columns={'index':'cast', 0:'count'})
data_budget = data_budget.sort_values(by = 'count', ascending = False)

answers ['16'] = data_budget.iloc[0]

## Second option

In [468]:
data_budget = data[['cast','budget','original_title']]
data_budget.cast = data_budget.cast.str.split('|')
data_budget = data_budget.explode('cast')
data_budget = data_budget[data_budget.budget > data_budget.budget.mean()]['cast'].value_counts()
data_budget = pd.DataFrame(data_budget)

answers_2 ['16'] = data_budget.iloc[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [469]:
data_nicolas = data[data.cast.str.contains ('Nicolas Cage')]
data_nicolas.genres = data_nicolas.genres.str.split('|')
data_nicolas = data_nicolas.explode('genres')
data_nicolas = data_nicolas.genres.value_counts()
data_nicolas = pd.DataFrame(data_nicolas)
data_nicolas = data_nicolas.rename(columns= {'genres':'count'})

answers ['17'] = data_nicolas.iloc[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [480]:
data_paramaunt = data[data.production_companies.str.contains('Paramount Pictures')]
data_paramaunt_min = data_paramaunt[data_paramaunt.profit == data_paramaunt.profit.min()]

answers ['18'] = data_paramaunt_min['original_title']

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [481]:
data_max_rev = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)

answers['19'] = data_max_rev.loc[[data_max_rev.idxmax()]]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [482]:
data_wb = data[data.production_companies.str.contains ('Warner Bros')]
data_wb_max_profit = data_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

answers['20'] = data_wb_max_profit.loc[[data_wb_max_profit.idxmax()]]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [508]:
data_date_only = data.release_date
date_month = []

for date in data_date_only:
    date = datetime.strptime(date, "%m/%d/%Y")
    month = date.month
    date_month.append(month)
    
date_df = pd.Series(date_month)
data['month'] = date_df     #ИЗМНИ НАЗВАНИЕ ПЕРМЕННОЙ

data_month_most_films = data['month'].value_counts()
data_month_most_films = pd.DataFrame(data_month_most_films)

answers ['21'] = data_month_most_films.iloc[0]

# Second option

In [521]:
# Рассказываем модулю datetime, в каком формате задана дата в release_date:
data_month = data.copy()
data_month.release_date = data_month.release_date.apply(
                                    lambda x: datetime.strptime(x, '%m/%d/%Y'))
# Вычленяем месяцы:
data_month.release_date = data_month.release_date.apply(lambda x: x.strftime('%B'))
data_month_most_films = data_month['release_date'].value_counts()

answers_2 ['21'] = data_month_most_films.index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [529]:
data_date_only = data.release_date
date_month = []

for date in data_date_only:
    date = datetime.strptime(date, "%m/%d/%Y")
    month = date.month
    date_month.append(month)
    
date_df = pd.Series(date_month)
data['month'] = date_df

data_summer_months = data[(data.month == 6)| (data.month == 7)| (data.month == 8)]

answers ['22'] = len(data_summer_months)

# Second option

In [546]:
# Рассказываем модулю datetime, в каком формате задана дата в release_date:
data_summer_month_2 = data.copy()
data_summer_month_2.release_date = data.release_date.apply(
                                    lambda x: datetime.strptime(x, '%m/%d/%Y'))
# Вычленяем месяцы:
data_summer_month_2.release_date = data_summer_month_2.release_date.apply(lambda x: x.strftime('%B'))
# Подсчитываем фильмы в летние месяцы:
num = data_summer_month_2.query('release_date in ["June", "July", "August"]').shape[0]

answers_2 ['22'] = num

# 23. Для какого режиссера зима – самое продуктивное время года?

In [553]:
data_date_only = data.release_date
date_month = []

for date in data_date_only:
    date = datetime.strptime(date, "%m/%d/%Y")
    month = date.month
    date_month.append(month)
    
date_df = pd.Series(date_month)
data['month'] = date_df
data_winter_months = data[(data.month == 12)| (data.month == 1)| (data.month == 2)]

data_winter_months.director = data_winter_months.director.str.split('|')
data_winter_months = data_winter_months.explode('director')

data_winter_months = data_winter_months['director'].value_counts()
data_winter_months = pd.DataFrame(data_winter_months)

answers ['23'] = data_winter_months.iloc[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)