In [1]:
import pandas as pd

In [2]:
import os

In [3]:
log = pd.read_csv('log.csv',header = None)

In [4]:
log.columns = ['user_id','time','bet','Winings']

In [8]:
users = pd.read_csv('users.csv', encoding = 'koi8-r', sep = '\t')
users.columns = ['user_id, email, geo'.split(',')]
users

     user_id                     email          geo
0   User_943       Accumanst@gmail.com       Ижевск
1   User_908         Advismowr@mail.ru       Ижевск
2   User_962           Anachso@ukr.net    Краснодар
3   User_973          Antecia@inbox.ru        Пермь
4   User_902        Balliaryva@ukr.net          NaN
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       Тюмень
96  User_901        V2artierso@mail.ru  Арзангелтск
97  User_970          Vashoterlo@bk.ru      Воронеж
98  User_965       Visuareda@yahoo.com      Воронеж
99  User_921              Aavast@ya.ru       Ижевск

[100 rows x 3 columns]

In [16]:
sample = pd.read_csv('sample.csv')
sample.columns
columns = sample.columns
#print(sample.columns)
columns_low = []
for title in columns:
    title_low = title.lower()
    columns_low.append(title_low)
sample.rename(columns = {'Name' : columns_low[0], 'City' : columns_low[1], 'Age' : columns_low[2], 'Profession' : columns_low[3]}, inplace = True)
sample.columns

Index(['name', 'city', 'age', 'profession'], dtype='object')

In [117]:
sample = pd.read_csv('sample.csv')
sample.columns
columns = sample.columns
#print(sample.columns)
columns_low = []
for title in columns:
    title_low = title.lower()
    columns_low.append(title_low)
sample.rename(columns = {'Name' : columns_low[i], 'City' : columns_low[i], 'Age' : columns_low[i], 'Proffesion' : columns_low[i] for i in range(4)})

SyntaxError: invalid syntax (<ipython-input-117-08cf15e9c2c0>, line 9)