In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [129]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(20)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014
1585,tt0339291,140000000,209073645,Lemony Snicket's A Series of Unfortunate Events,Jim Carrey|Meryl Streep|Jude Law|Emily Brownin...,Brad Silberling,Darkening theaters December 17.,Three wealthy children's parents are killed in...,108,Adventure|Fantasy|Comedy|Family,Paramount Pictures|Scott Rudin Productions|Nic...,12/16/2004,6.5,2004
1523,tt0462200,15000000,10903846,Black Snake Moan,Samuel L. Jackson|Christina Ricci|Justin Timbe...,Craig Brewer,To save his soul he must save hers.,A God-fearing bluesman takes to a wild young w...,116,Drama,Paramount Classics,12/8/2006,6.3,2006
1090,tt0319343,32000000,173398518,Elf,Will Ferrell|James Caan|Zooey Deschanel|Mary S...,Jon Favreau,"This holiday, discover your inner elf.",When young Buddy falls into Santa's gift sack ...,97,Romance|Comedy|Family|Fantasy,New Line Cinema|Gold/Miller Productions|Guy Wa...,10/9/2003,6.5,2003
677,tt0482606,9000000,82391145,The Strangers,Liv Tyler|Scott Speedman|Alex Fisher|Peter Cla...,Bryan Bertino,Lock the door. Pretend you're safe.,"After returning from a wedding reception, a co...",90,Thriller|Horror|Mystery,Rogue Pictures|Vertigo Entertainment,5/29/2008,5.9,2008
303,tt0795351,27000000,29000000,Case 39,RenÃ©e Zellweger|Jodelle Ferland|Ian McShane|K...,Christian Alvart,Some cases should never be opened.,"In her many years as a social worker, Emily Je...",109,Horror|Mystery|Thriller,Paramount Vantage|Anonymous Content|Misher Fil...,8/13/2009,6.0,2009
1228,tt1535109,55000000,95000000,Captain Phillips,Tom Hanks|Catherine Keener|Max Martini|Chris M...,Paul Greengrass,Out here survival is everything.,The true story of Captain Richard Phillips and...,134,Action|Drama|Thriller,Columbia Pictures,10/10/2013,7.7,2013
685,tt1032755,18000000,25739015,RockNRolla,Mark Strong|Tom Wilkinson|Toby Kebbell|Gerard ...,Guy Ritchie,"A story of sex, thugs and rock 'n roll.",When a Russian mobster sets up a real estate s...,114,Action|Crime|Thriller,StudioCanal|Dark Castle Entertainment|Toff Guy...,9/4/2008,6.8,2008
1529,tt0383060,35000000,12506188,Zoom,Tim Allen|Courteney Cox|Chevy Chase|Spencer Br...,Peter Hewitt,They're going to save the world... as long as ...,Jack Shepard is an out-of-shape auto shop owne...,83,Fantasy|Comedy|Family,Columbia Pictures|Revolution Studios,8/11/2006,5.1,2006
937,tt0284490,85000000,77741732,Showtime,Robert De Niro|Rachael Harris|Eddie Murphy|Zai...,Tom Dey,Lights. Camera. Aggravation.,A spoof of buddy cop movies where two very dif...,95,Action|Comedy,Village Roadshow Pictures|NPV Entertainment|Wa...,3/14/2002,5.2,2002
830,tt1578275,70000000,67112664,The Dilemma,Kevin James|Vince Vaughn|Winona Ryder|Jennifer...,Ron Howard,Two best friends. Nothing could come between t...,Longtime friends Ronny and Nick are partners i...,111,Comedy|Drama,Imagine Entertainment|Universal Pictures|Spygl...,1/13/2011,5.2,2011
1016,tt1673434,120000000,829000000,The Twilight Saga: Breaking Dawn - Part 2,Kristen Stewart|Robert Pattinson|Taylor Lautne...,Bill Condon,The epic finale that will live forever,"After the birth of Renesmee, the Cullens gathe...",115,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Sunswept Entertainment|Te...,11/13/2012,6.1,2012
1592,tt0357413,26000000,90574188,Anchorman: The Legend of Ron Burgundy,Will Ferrell|Christina Applegate|Paul Rudd|Dav...,Adam McKay,They bring you the news so you don't have to g...,"It's the 1970s, and San Diego super-sexist anc...",94,Comedy,Apatow Productions,7/9/2004,6.7,2004
21,tt1798684,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,Antoine Fuqua,Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,7.3,2015
510,tt0247638,37000000,165335153,The Princess Diaries,Anne Hathaway|Julie Andrews|Heather Matarazzo|...,Garry Marshall,She rocks. She rules. She reigns.,A socially awkward but very bright 15-year-old...,115,Comedy|Family|Romance,Walt Disney Pictures|BrownHouse Productions|Bo...,8/3/2001,6.3,2001
1414,tt0424774,50000000,69425966,The Adventures of Sharkboy and Lavagirl,Taylor Lautner|Taylor Dooley|Cayden Boyd|Georg...,Robert Rodriguez,Smaller heroes. Just as super.,Max conjures up his perfect dreamworld...the P...,92,Adventure|Fantasy|Action|Family,Columbia Pictures Corporation|Dimension Films,6/10/2005,4.3,2005
1300,tt1425922,17500000,7018189,Black Nativity,Forest Whitaker|Angela Bassett|Jennifer Hudson...,Kasi Lemmons,The Musical Event of the Holiday Season,A street-wise teen from Baltimore who has been...,93,Drama|Music,Fox Searchlight Pictures|Fox Searchlight,11/27/2013,6.2,2013
39,tt1618442,90000000,140396650,The Last Witch Hunter,Vin Diesel|Rose Leslie|Michael Caine|Elijah Wo...,Breck Eisner,Hunt forever.,"The modern world holds many secrets, but by fa...",106,Fantasy|Action|Adventure,Summit Entertainment|Atmosphere Entertainment ...,10/21/2015,5.6,2015
403,tt0985694,20000000,31327899,Machete,Danny Trejo|Michelle Rodriguez|Jessica Alba|Ro...,Robert Rodriguez|Ethan Maniquis,He was given an offer he couldn't refuse...,After being set-up and betrayed by the man who...,105,Action|Comedy|Thriller,Dune Entertainment|Dune Entertainment III|Trou...,9/1/2010,6.2,2010
49,tt2503944,20000000,36606743,Burnt,Bradley Cooper|Sienna Miller|Lily James|Alicia...,John Wells,Never underestimate a man with everything to l...,Adam Jones is a Chef who destroyed his career ...,100,Drama,Double Feature Films|PeaPie Films|3 Arts Enter...,10/2/2015,6.3,2015

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [131]:
answers = {} # creating dictionary for answers
data['profit'] = data['revenue'] - data['budget'] #adding new column 'Profit'
# завернем в функцию и будем использовать в дальнейшем
def counter(movie_bd, x):
    data_tmp=movie_bd[x].str.cat(sep='|') # превращаем все в одну строку
    data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
    data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
    return data_tmp

# 1. У какого фильма из списка самый большой бюджет?Допилить

In [6]:
data_1 = data # adding local data DF to use in answer for 1st question.
max_budget_mask = data_1.budget == data_1.budget.max() #making mask to know film with max budget
data_1 = data_1[max_budget_mask] #using mask to filter only one film from DF
answers ['1'] = data_1['imdb_id'] # putting imdb_id into answers dict

## Second option

In [7]:
answers ['1_2'] = data[data.runtime == data.budget.max()]['imdb_id']

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
data_2 = data # adding local data DF to use in answer for 1st question.
max_runtime_mask = data_2.runtime == data_2.runtime.max() #making mask to know film with max runtime
data_2 = data_2[max_runtime_mask] #using mask to filter only one film from DF
answers ['2'] = data_2['imdb_id'] # putting imdb_id into answers dict

## Second option

In [9]:
answers ['2_2'] = data[data.runtime == data.runtime.max()]['imdb_id']

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data_3 = data # adding local data DF to use in answer for 1st question.
min_runtime_mask = data_3.runtime == data_3.runtime.min() #making mask to know film with min runtime
data_3 = data_3[min_runtime_mask] #using mask to filter only one film from DF
answers ['3'] = data_3['imdb_id'] # putting imdb_id into answers dict

## Second option

In [11]:
answers ['3_2'] = data[data.runtime == data.runtime.min()]['imdb_id']

# 4. Какова средняя длительность фильмов?

In [12]:
data_4 = data # adding local data DF to use in answer for 1st question.
answers['4'] =  data.runtime.mean() # avg runtime

## Second option

In [13]:
answers ['4_2'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [14]:
data_5 = data # adding local data DF to use in answer for 1st question.
answers['5'] =  data.runtime.median() # avg runtime

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = data[data.profit == data.profit.max()]['imdb_id']# avg runtime

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = data[data.profit == data.profit.min()]['imdb_id']

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = len(data[data.revenue > data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
data_2008 = data[(data.release_year == 2008)] #films from 2008 year
answers['9'] = data_2008[data_2008.revenue == data_2008.revenue.max()]['imdb_id'] #detecting film with highest revenue from 2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
data_interval = data[(data.release_year >= 2012) & (data.release_year <= 2014) ]
answers['10'] = data_interval[data_interval.profit == data_interval.profit.min()].imdb_id

# 11. Какого жанра фильмов больше всего?

In [167]:
data_all_gen = data[data.genres.str.contains("\D")]
sum_gen=counter(data_all_gen,'genres')
answers['11'] = sum_gen.loc[[sum_gen.idxmax()]]

ВАРИАНТ 2

In [163]:
help(max) #попробуй сделать в виде функции +1 к каждому новому жанру

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

# 12. Фильмы какого жанра чаще всего становятся прибыльными?  допилить

In [153]:
data_profit = data[data.profit > 0] #taking films with profit > 0
data_all_gen_profit = data_profit[data_profit.genres.str.contains("\D")]

sum_gen=counter(data_all_gen_profit,'genres')
answers['12'] = sum_gen.loc[[sum_gen.idxmax()]] #getting top value and writing it to the answers dict

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [90]:
data_director_rev = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False) #grouped by directors,
                                                                                #got sum of the revenue, sort by values
answers['12'] = data_director_rev.loc[[data_director_rev.idxmax()]]

# 14. Какой режисер снял больше всего фильмов в стиле Action? Допилить

In [142]:
data_all_gen = data[data.genres.str.contains("Action")]
sum_gen=counter(data_all_gen,'director')
answers['14'] = sum_gen.loc[[sum_gen.idxmax()]]

{'11': Robert Rodriguez    9
 dtype: int64,
 '14': Robert Rodriguez    9
 dtype: int64}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [168]:
data_2012 = data[data.release_year == 2012]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)