In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1335,tt0369735,43000000,154749918,Monster-in-Law,Jennifer Lopez|Jane Fonda|Michael Vartan|Wanda...,Robert Luketic,This relationship is going to be a real mother.,Office temp Charlotte Cantilini thinks she's f...,101,Comedy,New Line Cinema|Spring Creek Productions|Bende...,5/13/2005,5.7,2005
775,tt1253864,75000000,226904017,Immortals,Mickey Rourke|Kellan Lutz|Isabel Lucas|Henry C...,Tarsem Singh,The Gods need a hero.,Theseus is a mortal man chosen by Zeus to lead...,110,Fantasy|Action|Drama,Virgin Produced|Mark Canton Productions,11/10/2011,5.6,2011
221,tt1826590,12500000,49002684,About Last Night,Kevin Hart|Michael Ealy|Regina Hall|Joy Bryant...,Steve Pink,It's about compromise. It's about love. It's a...,A modern reimagining of the classic romantic c...,100,Comedy|Romance,"Screen Gems, Inc.|Rainforest Films|Olive Bridg...",2/14/2014,5.8,2014
1689,tt0765429,100000000,266465037,American Gangster,Denzel Washington|Russell Crowe|Chiwetel Ejiof...,Ridley Scott,There are two sides to the American dream.,Following the death of his employer and mentor...,157,Drama|Crime,Imagine Entertainment|Universal Pictures|Scott...,11/2/2007,7.3,2007
920,tt0253867,43000000,68696770,The Sweetest Thing,Cameron Diaz|Christina Applegate|Thomas Jane|S...,Roger Kumble,A romantic comedy without the sugar.,Christina's love life is stuck in neutral. Aft...,84,Romance|Comedy,Konrad Pictures,4/12/2002,5.4,2002

In [146]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [15]:
answers = {} # creating dictionary for answers
data['profit'] = data['revenue'] - data['budget'] #adding new column 'Profit'

# 1. У какого фильма из списка самый большой бюджет?

In [89]:
data_1 = data # adding local data DF to use in answer for 1st question.
max_budget_mask = data_1.budget == data_1.budget.max() #making mask to know film with max budget
data_1 = data_1[max_budget_mask] #using mask to filter only one film from DF
answers ['1'] = data_1['imdb_id'] # putting imdb_id into answers dict

## Second option

In [100]:
answers ['1_2'] = data[data.runtime == data.budget.max()]['imdb_id']

# 2. Какой из фильмов самый длительный (в минутах)?

In [91]:
data_2 = data # adding local data DF to use in answer for 1st question.
max_runtime_mask = data_2.runtime == data_2.runtime.max() #making mask to know film with max runtime
data_2 = data_2[max_runtime_mask] #using mask to filter only one film from DF
answers ['2'] = data_2['imdb_id'] # putting imdb_id into answers dict

## Second option

In [92]:
answers ['2_2'] = data[data.runtime == data.runtime.max()]['imdb_id']

# 3. Какой из фильмов самый короткий (в минутах)?

In [93]:
data_3 = data # adding local data DF to use in answer for 1st question.
min_runtime_mask = data_3.runtime == data_3.runtime.min() #making mask to know film with min runtime
data_3 = data_3[min_runtime_mask] #using mask to filter only one film from DF
answers ['3'] = data_3['imdb_id'] # putting imdb_id into answers dict

## Second option

In [94]:
answers ['3_2'] = data[data.runtime == data.runtime.min()]['imdb_id']

# 4. Какова средняя длительность фильмов?

In [95]:
data_4 = data # adding local data DF to use in answer for 1st question.
answers['4'] =  data.runtime.mean() # avg runtime

## Second option

In [96]:
answers ['4_2'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [97]:
data_5 = data # adding local data DF to use in answer for 1st question.
answers['5'] =  data.runtime.median() # avg runtime

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [105]:
answers['6'] = data[data.profit == data.profit.max()]['imdb_id']# avg runtime

# 7. Какой фильм самый убыточный?

In [108]:
answers['7'] = data[data.profit == data.profit.min()]['imdb_id']

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [128]:
answers['8'] = len(data[data.revenue > data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [170]:
data_2008 = data[(data.release_year == 2008)] #films from 2008 year
answers['9'] = data_2008[data_2008.revenue == data_2008.revenue.max()]['imdb_id'] #detecting film with highest revenue from 2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [194]:
data_interval = data[(data.release_year >= 2012) & (data.release_year <= 2014) ]
answers['10'] = data_interval[data_interval.profit == data_interval.profit.min()].imdb_id
answers

{'1': 723    tt1298650
 Name: imdb_id, dtype: object,
 '2': 1157    tt0279111
 Name: imdb_id, dtype: object,
 '3': 768    tt1449283
 Name: imdb_id, dtype: object,
 '4': 109.6585494970884,
 '5': 107.0,
 '3_2': 768    tt1449283
 Name: imdb_id, dtype: object,
 '2_2': 1157    tt0279111
 Name: imdb_id, dtype: object,
 '4_2': 109.6585494970884,
 '1_2': Series([], Name: imdb_id, dtype: object),
 '6': 239    tt0499549
 Name: imdb_id, dtype: object,
 '7': 1245    tt1210819
 Name: imdb_id, dtype: object,
 '8': 1478,
 '9': 599    tt0468569
 Name: imdb_id, dtype: object,
 '11': 141,
 '10': 1245    tt1210819
 Name: imdb_id, dtype: object}

In [202]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [165]:
answers ['11'] = max(data['genres'].value_counts())

ВАРИАНТ 2

In [163]:
help(max) #попробуй сделать в виде функции +1 к каждому новому жанру

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)