In [71]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter

In [51]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(20)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
548,tt0206314,23000000,36642838,Joy Ride,Steve Zahn|Paul Walker|Leelee Sobieski|Jessica...,John Dahl,"It was just a joke, just for fun.",Three young people on a road trip from Colorad...,97,Mystery|Thriller|Drama,Regency Enterprises|Epsilon Motion Pictures|Li...,10/5/2001,6.2,2001
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
277,tt1182345,5000000,9760104,Moon,Sam Rockwell|Kevin Spacey|Dominique McElligott...,Duncan Jones,The last place you'd ever expect to find yours...,With only three weeks left in his three year c...,97,Science Fiction|Drama,Liberty Films UK|Lunar Industries|Xingu Films|...,6/12/2009,7.4,2009
538,tt0159273,40000000,91753202,Behind Enemy Lines,Owen Wilson|Gene Hackman|Gabriel Macht|Charles...,John Moore,His only weapon is his will to survive.,While flying a routine reconnaissance mission ...,106,Action|Drama|Thriller|War,Twentieth Century Fox Film Corporation|Davis E...,11/17/2001,5.9,2001
945,tt0265349,32000000,55157539,The Mothman Prophecies,Richard Gere|Laura Linney|Will Patton|Bob Trac...,Mark Pellington,What do you see?,Reporter John Klein is plunged into a world of...,119,Drama|Mystery|Thriller|Horror,Lakeshore Entertainment,1/25/2002,5.9,2002
65,tt2452042,99000000,246233113,The Peanuts Movie,Noah Schnapp|Bill Melendez|Venus Schultheis|Ha...,Steve Martino,The story of an underdog. And his dog.,Snoopy embarks upon his greatest mission as he...,88,Adventure|Animation|Comedy|Family,Blue Sky Studios|Twentieth Century Fox Animati...,11/5/2015,6.4,2015
1387,tt0408790,55000000,223387299,Flightplan,Jodie Foster|Peter Sarsgaard|Sean Bean|Kate Be...,Robert Schwentke,If Someone Took Everything You Live For... How...,"A claustrophobic, Hitchcockian thriller. A ber...",98,Thriller|Drama|Mystery,Imagine Entertainment|Touchstone Pictures,9/22/2005,6.0,2005
1774,tt0465538,25000000,92991835,Michael Clayton,George Clooney|Tom Wilkinson|Tilda Swinton|Syd...,Tony Gilroy,The truth can be adjusted,A law firm brings in its 'fixer' to remedy the...,119,Drama|Mystery|Crime,Castle Rock Entertainment|Mirage Enterprises|S...,9/28/2007,6.3,2007
448,tt1135084,32000000,69055695,Takers,Chris Brown|Hayden Christensen|Matt Dillon|Mic...,John Luessenhop,Who's Taking Who?,"A seasoned team of bank robbers, including Gor...",107,Action|Crime|Drama|Thriller,Rainforest Films,8/26/2010,6.1,2010
729,tt0945513,32000000,147332697,Source Code,Jake Gyllenhaal|Michelle Monaghan|Vera Farmiga...,Duncan Jones,Make Every Second Count,Decorated soldier Captain Colter Stevens wakes...,93,Thriller|Science Fiction|Mystery,The Mark Gordon Company|Vendome Pictures,3/30/2011,7.0,2011
853,tt1067774,20000000,17425000,Monte Carlo,Selena Gomez|Katie Cassidy|Cory Monteith|Leigh...,Thomas Bezucha,She's having the time of someone else's life.,Three young women vacationing in Paris find th...,109,Adventure|Comedy|Romance,Dune Entertainment|Regency Enterprises|Fox 200...,7/1/2011,5.9,2011
1280,tt2005374,27220000,5496951,The Frozen Ground,Nicolas Cage|Vanessa Hudgens|John Cusack|Radha...,Scott Walker,The hunter becomes the hunted,An Alaska State Trooper partners with a young ...,105,Thriller|Crime,Grindstone Entertainment Group|Cheetah Vision|...,7/18/2013,6.2,2013
195,tt1823664,65000000,133821816,Annie,QuvenzhanÃ© Wallis|Jamie Foxx|Rose Byrne|Camer...,Will Gluck,It's a Hard Knock Life,"Ever since her parents left her as a baby, lit...",119,Music|Comedy|Drama|Family,Columbia Pictures|Sony Pictures Entertainment ...,12/19/2014,6.1,2014
1605,tt0328107,70000000,130293714,Man on Fire,Denzel Washington|Dakota Fanning|Marc Anthony|...,Tony Scott,"Creasy's art is death, and he is about to pain...",Jaded ex-CIA operative John Creasy reluctantly...,146,Action|Drama|Thriller|Crime,Regency Enterprises|Fox 2000 Pictures|Epsilon ...,4/23/2004,7.3,2004
1437,tt0382625,125000000,758239851,The Da Vinci Code,Tom Hanks|Audrey Tautou|Ian McKellen|Paul Bett...,Ron Howard,So Dark The Con Of Man,When the curator of the Louvre is found murder...,149,Thriller|Mystery,Columbia Pictures|Imagine Entertainment|Skylar...,5/17/2006,6.4,2006
21,tt1798684,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,Antoine Fuqua,Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,7.3,2015
1047,tt1430615,40000000,24719215,Big Miracle,Drew Barrymore|John Krasinski|Kristen Bell|Vin...,Ken Kwapis,A family of whales trapped beneath the ice. On...,"Based on an inspiring true story, a small-town...",107,Adventure|Drama|Romance,Universal Pictures|Anonymous Content|Working T...,2/2/2012,6.5,2012
1150,tt0304711,35000000,11560806,The Order,Heath Ledger|Shannyn Sossamon|Benno FÃ¼rmann|M...,Brian Helgeland,Every soul has its price.,"For centuries, a secret Order of priests has e...",102,Drama|Fantasy|Horror|Mystery|Romance,Twentieth Century Fox Film Corporation|N1 Euro...,9/5/2003,4.8,2003
1061,tt1598828,40000000,36893721,One for the Money,Katherine Heigl|John Leguizamo|Debbie Reynolds...,Julie Anne Robinson,She's looking for a few not-so-good men,"Stephanie Plum (Katherine Heigl), an unemploye...",91,Action|Comedy|Thriller|Crime|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,1/26/2012,5.2,2012
1569,tt0343818,120000000,347234916,"I, Robot",Will Smith|Bridget Moynahan|Alan Tudyk|James C...,Alex Proyas,Laws are made to be broken.,"In the year 2035, where robots are common and ...",115,Action|Science Fiction,Twentieth Century Fox Film Corporation|Laurenc...,7/15/2004,6.6,2004

In [52]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [53]:
answers = {} # creating dictionary for answers
answers_2 = {} # creating dictionary for 2nd answers
data['profit'] = data['revenue'] - data['budget'] #adding new column 'Profit'
# завернем в функцию и будем использовать в дальнейшем
def counter(movie_bd, x):
    data_tmp=movie_bd[x].str.cat(sep='|') # превращаем все в одну строку
    data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
    data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
    return data_tmp

# 1. У какого фильма из списка самый большой бюджет?Допилить

In [54]:
data_1 = data # adding local data DF to use in answer for 1st question.
max_budget_mask = data_1.budget == data_1.budget.max() #making mask to know film with max budget
data_1 = data_1[max_budget_mask] #using mask to filter only one film from DF
answers ['1'] = data_1['imdb_id'] # putting imdb_id into answers dict

## Second option

In [55]:
answers_2 ['1'] = data[data.runtime == data.budget.max()]['imdb_id']

# 2. Какой из фильмов самый длительный (в минутах)?

In [56]:
data_2 = data # adding local data DF to use in answer for 1st question.
max_runtime_mask = data_2.runtime == data_2.runtime.max() #making mask to know film with max runtime
data_2 = data_2[max_runtime_mask] #using mask to filter only one film from DF
answers ['2'] = data_2['imdb_id'] # putting imdb_id into answers dict

## Second option

In [57]:
answers_2 ['2'] = data[data.runtime == data.runtime.max()]['imdb_id']

# 3. Какой из фильмов самый короткий (в минутах)?

In [58]:
data_3 = data # adding local data DF to use in answer for 1st question.
min_runtime_mask = data_3.runtime == data_3.runtime.min() #making mask to know film with min runtime
data_3 = data_3[min_runtime_mask] #using mask to filter only one film from DF
answers ['3'] = data_3['imdb_id'] # putting imdb_id into answers dict

## Second option

In [59]:
answers_2 ['3'] = data[data.runtime == data.runtime.min()]['imdb_id']

# 4. Какова средняя длительность фильмов?

In [60]:
data_4 = data # adding local data DF to use in answer for 1st question.
answers['4'] =  data.runtime.mean() # avg runtime

## Second option

In [61]:
answers_2 ['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [62]:
data_5 = data # adding local data DF to use in answer for 1st question.
answers['5'] =  data.runtime.median() # avg runtime

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [63]:
answers['6'] = data[data.profit == data.profit.max()]['imdb_id']# avg runtime

# 7. Какой фильм самый убыточный?

In [64]:
answers['7'] = data[data.profit == data.profit.min()]['imdb_id']

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [65]:
answers['8'] = len(data[data.revenue > data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [66]:
data_2008 = data[(data.release_year == 2008)] #films from 2008 year
answers['9'] = data_2008[data_2008.revenue == data_2008.revenue.max()]['imdb_id'] #detecting film with highest revenue from 2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [67]:
data_interval = data[(data.release_year >= 2012) & (data.release_year <= 2014) ]
answers['10'] = data_interval[data_interval.profit == data_interval.profit.min()].imdb_id

# 11. Какого жанра фильмов больше всего?

In [68]:
data_all_gen = data[data.genres.str.contains("\D")]
sum_gen = counter(data_all_gen,'genres')
answers['11'] = sum_gen.loc[[sum_gen.idxmax()]]

ВАРИАНТ 2

In [86]:
genres_list = data.genres.str.split('|').sum()  # creating list of all genres
genres_list
genres_unique = []                              # creating list of unique genres
for i in genres_list:
    if i not in genres_unique:
        genres_unique.append(i)
#display(genres_list)
c = collections.Counter()
for word in genres_list:
    c[word] += 1
df_genres = pd.DataFrame.from_dict(c, orient='index').reset_index()
df_genres = df_genres.rename(columns={'index':'genres', 0:'count'})
df_genres
answers_2 ['11'] = df_genres[df_genres['count']==df_genres['count'].max()]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?  допилить

In [88]:
data_profit = data[data.profit > 0] #taking films with profit > 0
data_all_gen_profit = data_profit[data_profit.genres.str.contains("\D")]

sum_gen=counter(data_all_gen_profit,'genres')
answers['12'] = sum_gen.loc[[sum_gen.idxmax()]] #getting top value and writing it to the answers dict

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [115]:
data_director_rev = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False) #grouped by directors,
                                                                                #got sum of the revenue, sort by values
answers['13'] = data_director_rev.loc[[data_director_rev.idxmax()]]

# 14. Какой режисер снял больше всего фильмов в стиле Action? Допилить

In [116]:
data_all_gen = data[data.genres.str.contains("Action")] #geting str with Action
sum_gen=counter(data_all_gen,'director') #sending previously gotten DF to function
answers['14'] = sum_gen.loc[[sum_gen.idxmax()]]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [125]:
data_2012 = data[data.release_year == 2012]
data_tmp=data_2012['cast'].str.cat(sep='|') # превращаем все в одну строку
data_tmp=pd.Series(data_tmp.split('|'))
data_tmp

0       Robert Downey Jr.
1             Chris Evans
2            Mark Ruffalo
3         Chris Hemsworth
4      Scarlett Johansson
              ...
550            Katy Perry
551         Russell Brand
552      Shannon Woodward
553     Rachael Markarian
554           Mia Moretti
Length: 555, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

In [97]:
data_paramaunt = data[data.production_companies.str.contains('Paramount Pictures')]
answers ['18'] = data_paramaunt[data_paramaunt.profit == data_paramaunt.profit.min()]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [114]:
data_max_rev = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
answers['19'] = data_max_rev.loc[[data_max_rev.idxmax()]]

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)