In [411]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
from datetime import datetime
from itertools import combinations

In [412]:
data = pd.read_csv('movie_bd_v5.csv')

In [374]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [375]:
answers = {} # creating dictionary for answers
answers_2 = {} # creating dictionary for 2nd answers
data['profit'] = data['revenue'] - data['budget'] #adding new column 'Profit'
# завернем в функцию и будем использовать в дальнейшем
def counter(movie_bd, x):
    data_tmp=movie_bd[x].str.cat(sep='|') # превращаем все в одну строку
    data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
    data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
    return data_tmp

def counter_2(income_list):
    list_unique = []
    for i in income_list:
        if i not in list_unique:
            list_unique.append(i)
    c = collections.Counter()
    for word in cast_list:
        c[word] += 1
    return c

# 1. У какого фильма из списка самый большой бюджет?Допилить

In [376]:
data_1 = data # adding local  DF to use in answer this question.
max_budget_mask = data_1.budget == data_1.budget.max() #making mask to know film with max budget
data_1 = data_1[max_budget_mask] #using mask to filter only one film from DF

answers ['1'] = data_1['imdb_id'] # putting imdb_id into answers dict

## Second option

In [377]:
answers_2 ['1'] = data[data.runtime == data.runtime.max()]['imdb_id']

# 2. Какой из фильмов самый длительный (в минутах)?

In [378]:
data_2 = data # adding local  DF to use in answer this question.
max_runtime_mask = data_2.runtime == data_2.runtime.max() #making mask to know film with max runtime
data_2 = data_2[max_runtime_mask] #using mask to filter only one film from DF

answers ['2'] = data_2['imdb_id'] # putting imdb_id into answers dict

## Second option

In [379]:
answers_2 ['2'] = data[data.runtime == data.runtime.max()]['imdb_id']

# 3. Какой из фильмов самый короткий (в минутах)?

In [380]:
data_3 = data # adding local  DF to use in answer for this question.
min_runtime_mask = data_3.runtime == data_3.runtime.min() #making mask to know film with min runtime
data_3 = data_3[min_runtime_mask] #using mask to filter only one film from DF

answers ['3'] = data_3['imdb_id'] # putting imdb_id into answers dict

## Second option

In [381]:
answers_2 ['3'] = data[data.runtime == data.runtime.min()]['imdb_id']

# 4. Какова средняя длительность фильмов?

In [382]:
data_4 = data # adding local  DF to use in answer for this question.

answers['4'] =  data_4.runtime.mean() # avg runtime

## Second option

In [383]:
answers_2 ['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [384]:
data_5 = data # adding local  DF to use in answer for this question.

answers['5'] =  data_5.runtime.median() # avg runtime

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [385]:
answers['6'] = data[data.profit == data.profit.max()]['imdb_id']# avg runtime

# 7. Какой фильм самый убыточный?

In [386]:
answers['7'] = data[data.profit == data.profit.min()]['imdb_id']

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [387]:
answers['8'] = len(data[data.revenue > data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [388]:
data_9 = data[(data.release_year == 2008)] #films from 2008 year

answers['9'] = data_9[data_9.revenue == data_9.revenue.max()]['imdb_id'] #detecting film with highest revenue from 2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [389]:
data_10 = data[(data.release_year >= 2012) & (data.release_year <= 2014) ] #films from 2012 to 2014 years (including)

answers['10'] = data_10[data_10.profit == data_10.profit.min()].imdb_id #min profit from these years

# 11. Какого жанра фильмов больше всего?

In [390]:
data_11 = data # adding local  DF to use in answer this question.
sum_gen = counter(data_11,'genres') #sendig DF to function and getting answer

answers['11'] = sum_gen.loc[[sum_gen.idxmax()]]

## Second Option

In [391]:
data_11_2 = data.genres.str.split('|').sum()  # creating list of all genres
genres_unique = [] #creating list of unique genres
for i in data_11_2:
    if i not in genres_unique:
        genres_unique.append(i)
        
c = collections.Counter()  #count how many times genres meet
for word in data_11_2:
    c[word] += 1
    
data_11_2 = pd.DataFrame.from_dict(c, orient='index') #making DF from dict to add columns
data_11_2 = df_genres.rename(columns={'index':'genres', 0:'count'}) #renaming columns

answers_2 ['11'] = data_11_2[data_11_2['count']==data_11_2['count'].max()] #getting max value from DF

# 12. Фильмы какого жанра чаще всего становятся прибыльными?  допилить

In [392]:
data_12 = data[data.profit > 0] #taking films with profit > 0

sum_gen=counter(data_12,'genres') #sendig DF to function and getting answer

answers['12'] = sum_gen.loc[[sum_gen.idxmax()]] #getting top value and writing it to the answers dict

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [393]:
data_13 = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False) #grouped by directors,
                                                                                #got sum of the revenue, sort by values
answers['13'] = data_13.loc[[data_13.idxmax()]] #getting top value and writing it to the answers dict

# 14. Какой режисер снял больше всего фильмов в стиле Action? Допилить

In [394]:
data_14 = data[data.genres.str.contains("Action")] #geting genre Action
sum_gen=counter(data_14,'director') #sending previously gotten DF to function

answers['14'] = sum_gen.loc[[sum_gen.idxmax()]] #getting top value and writing it to the answers dict

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? Допилить

In [395]:
data_15 = data[data.release_year == 2012] #getting films from 2012 year
data_15.cast = data_15.cast.str.split('|') #making str from cast lists using | as splitter
data_15 = data_15.explode('cast') #exploding DF by cas
data_15 = pd.DataFrame(data_15.groupby(['cast']).revenue.sum().sort_values(ascending = False)) #sorting ang getting max values

answers ['15'] = data_15.iloc[0] #getting first value from DF

C:\Users\blood\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [396]:
data_16 = data[data.budget > data.budget.mean()] # getting str where budget more than mean budget
cast_list = data_16.cast.str.split('|').sum()  # creating list of all actors 
cast_unique = []                               # creating list of unique actors
                                                    
for i in cast_list:
    if i not in cast_unique:
        cast_unique.append(i)

c = collections.Counter()
for word in cast_list:
    c[word] += 1
    
data_16 = pd.DataFrame.from_dict(c, orient='index').reset_index()#making DF from dict to add columns
data_16 = data_16.rename(columns={'index':'cast', 0:'count'}) # renaming columns
data_16 = data_16.sort_values(by = 'count', ascending = False) # sorting values

answers ['16'] = data_16.iloc[0]

## Second option

In [397]:
data_16_2 = data[['cast','budget','original_title']] #getting current columns from original DF
data_16_2.cast = data_16_2.cast.str.split('|') #splitting actors using | as splitter
data_16_2 = data_16_2.explode('cast') #explode DF by cast
data_16_2 = data_16_2[data_16_2.budget > data_16_2.budget.mean()]['cast'].value_counts() #getting values where budget 
                                                    #more than mean budget and sorting them
data_16_2 = pd.DataFrame(data_16_2)

answers_2 ['16'] = data_16_2.iloc[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [398]:
data_17 = data[data.cast.str.contains ('Nicolas Cage')] #getting films with Nicolas Cage
data_17.genres = data_17.genres.str.split('|') #splitting genres using | as splitter
data_17 = data_17.explode('genres') #explode DF by genres
data_17 = data_17.genres.value_counts() #counting the most popular genre where Nicolas Cage took part
data_17 = pd.DataFrame(data_17)
data_17 = data_17.rename(columns= {'genres':'count'})

answers ['17'] = data_17.iloc[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [399]:
data_18 = data[data.production_companies.str.contains('Paramount Pictures')] #getting films from Paramaunt Pic
data_18 = data_18[data_18.profit == data_18.profit.min()] #finding the lowest profit

answers ['18'] = data_18['original_title']

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [400]:
data_19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False) #groping by year and calculating 
                                #total revenue for each year, sorting

answers['19'] = data_19.loc[[data_19.idxmax()]]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [401]:
data_20 = data[data.production_companies.str.contains ('Warner Bros')]#getting films from Paramaunt WB
data_20 = data_20.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)#groping by year and calculating 
                                #total profit for each year, sorting

answers['20'] = data_20.loc[[data_20.idxmax()]]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [402]:
data_21 = data.copy() # adding local DF to use in answer for this question.
data_date_only = data_21.release_date # adding DF to add there only release dates
date_month = [] #empty list to use further (months)

for date in data_date_only:
    date = datetime.strptime(date, "%m/%d/%Y")
    month = date.month
    date_month.append(month)
    
date_df = pd.Series(date_month) #creating DF from list

data_21['month'] = date_df

data_21 = data_21['month'].value_counts() #counting how many films were each month
data_21 = pd.DataFrame(data_21)

answers ['21'] = data_21.iloc[0]

# Second option

In [403]:
data_21_2 = data.copy() # adding local DF to use in answer for this question.
data_21_2.release_date = data_21_2.release_date.apply(
                                    lambda x: datetime.strptime(x, '%m/%d/%Y')) #rewriting release date using strptime

data_21_2.release_date = data_21_2.release_date.apply(lambda x: x.strftime('%B')) #adding months using %B

data_21_2 = data_21_2['release_date'].value_counts() #counting how many films were each month

answers_2 ['21'] = data_21_2.index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [404]:
data_22 = data.copy() # adding local DF to use in answer for this question.
data_date_only = data_22.release_date # adding DF to add there only release dates
date_month = [] #empty list to use further (months)

for date in data_date_only:
    date = datetime.strptime(date, "%m/%d/%Y")
    month = date.month
    date_month.append(month)
    
date_df = pd.Series(date_month)
data_22['month'] = date_df

data_22 = data_22[(data_22.month == 6)| (data_22.month == 7)| (data_22.month == 8)] #getting films only from summer

answers ['22'] = len(data_22)

# Second option

In [405]:
data_22_2 = data.copy() # adding local DF to use in answer for this question.
data_22_2.release_date = data.release_date.apply(
                                    lambda x: datetime.strptime(x, '%m/%d/%Y')) #rewriting release date using strptime
# Вычленяем месяцы:
data_22_2.release_date = data_22_2.release_date.apply(lambda x: x.strftime('%B')) #adding months using %B
# Подсчитываем фильмы в летние месяцы:
num = data_22_2.query('release_date in ["June", "July", "August"]').shape[0] #getting films only from summer

answers_2 ['22'] = num

# 23. Для какого режиссера зима – самое продуктивное время года?

In [406]:
data_23 = data.copy()  # adding local DF to use in answer for this question.
data_date_only = data_23.release_date #adding DF with only date
date_month = []#empty list to use further (months)

for date in data_date_only:
    date = datetime.strptime(date, "%m/%d/%Y")
    month = date.month
    date_month.append(month)
    
date_df = pd.Series(date_month)
data_23['month'] = date_df
data_23 = data_23[(data_23.month == 12)| (data_23.month == 1)| (data_23.month == 2)]

data_23.director = data_23.director.str.split('|')
data_23 = data_23.explode('director')

data_23 = data_23['director'].value_counts()
data_23 = pd.DataFrame(data_23)

answers ['23'] = data_23.iloc[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [407]:
data_24 = data.copy()  # adding local DF to use in answer for this question.
data_24 ['title_len'] = data_24.original_title.apply(len) #adding column with title len value

data_24.production_companies = data_24.production_companies.str.split('|') #spliting production copmanies names using |as splitter 
data_24 = data_24.explode('production_companies') #expoding DF by production companies

data_24 = data_24.groupby(['production_companies'])['title_len'].mean().sort_values(ascending = False)
  #grouping using production companies as group parametr, and calculating title_len mean value, sorting

answers ['24'] = data_24.index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [408]:
data_25 = data.copy() # adding local DF to use in answer for this question.
data_25 ['overview_len'] = data_25.overview.apply(len) #adding column with title len value

data_25.production_companies = data_25.production_companies.str.split('|') #spliting production copmanies names using |as splitter 
data_25 = data_25.explode('production_companies') #expoding DF by production companies


data_25 = data_25.groupby(['production_companies'])['overview_len'].mean().sort_values(ascending = False)
 #grouping using production companies as group parametr, and calculating review_len mean value, sorting


answers ['25'] = data_long_overview.index[0]

In [409]:
len(answers)

25

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [410]:
data_26 = data[data.vote_average > (data.vote_average.max())*0.99]
data_26

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [433]:
combs = [] #adding list to put there combinations
for cast in data.cast.str.split('|'):
    cast.sort()
    combs.extend(combinations(cast, 2))
answers ['27'] = pd.Series(combs).value_counts().index[0]

In [430]:
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists,2)):
        if j not in pairs:
             pairs[j] = 1
        else:
             pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)