In [27]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])

In [28]:
for i,k in data.items():
    print(i,k)

Первый Январь
Второй Февраль
Третий Март
Четвёртый Апрель

In [29]:
data.loc [['Первый' : 'Третий']]

SyntaxError: invalid syntax (<ipython-input-29-5a14baaffc8c>, line 1)

In [30]:
data[0:2]

Первый     Январь
Второй    Февраль
dtype: object

In [42]:
data = pd.Series(list(range(10, 1001))) 
data[990]

1000

In [43]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [44]:
pd.DataFrame({'Тестовая колонка':[1,5]})

   Тестовая колонка
0                 1
1                 5

In [50]:
for i in range (100):
    pd.DataFrame({'Тестовая колонка':[i, i+i**2]})

   Тестовая колонка
0                99
1              9900

In [44]:
import pandas as pd
football = pd.read_csv('data_sf.xls',sep = ',',skiprows = 0, decimal = '.',usecol = 'Nationality')
#display(football.head(len(football)))
display(football.info(verbose = True,memory_usage = 'deep'))

TypeError: parser_f() got an unexpected keyword argument 'usecol'