In [27]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])

In [28]:
for i,k in data.items():
    print(i,k)

Первый Январь
Второй Февраль
Третий Март
Четвёртый Апрель

In [29]:
data.loc [['Первый' : 'Третий']]

SyntaxError: invalid syntax (<ipython-input-29-5a14baaffc8c>, line 1)

In [30]:
data[0:2]

Первый     Январь
Второй    Февраль
dtype: object

In [42]:
data = pd.Series(list(range(10, 1001))) 
data[990]

1000

In [43]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [44]:
pd.DataFrame({'Тестовая колонка':[1,5]})

   Тестовая колонка
0                 1
1                 5

In [50]:
for i in range (100):
    pd.DataFrame({'Тестовая колонка':[i, i+i**2]})

   Тестовая колонка
0                99
1              9900

In [122]:
import pandas as pd
football = pd.read_csv('data_sf.xls')
a = football[football.Value > football.Value.mean()].Nationality
countries = {}
c = 0
for i in a:
    info = i.split(' ')
    country = info[0]
    if country not in countries:
        countries.setdefault(country,1 )
    elif country in countries:
        countries[country] += 1
import operator
max(countries.items(), key=operator.itemgetter(1))[0]

'Spain'

In [9]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(football.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,44.264403,40.321625,50.115143,55.463596,63.109715,63.205629,61.819648,59.430565,63.171978,52.530666,64.285415,61.123052,64.271614,43.971931,53.777933,44.875940,47.166008,50.843374,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,17.781283,16.718481,15.215160,16.692643,15.129988,14.903845,14.858729,8.875832,14.190700,16.975214,11.765467,16.194498,12.550696,18.769749,17.232716,20.188799,19.245882,13.745960,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,6.000000,3.000000,9.000000,5.000000,12.000000,12.000000,15.000000,21.000000,16.000000,2.000000,15.000000,12.000000,17.000000,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,32.000000,29.000000,40.000000,51.000000,55.000000,55.000000,53.000000,54.000000,55.000000,42.000000,57.000000,54.000000,57.000000,29.000000,41.000000,24.000000,35.000000,42.000000,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,45.000000,39.000000,53.000000,60.000000,66.000000,66.000000,64.000000,59.000000,65.000000,56.000000,65.000000,64.000000,65.000000,47.000000,56.000000,51.000000,52.000000,52.000000,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,58.000000,52.000000,61.000000,65.000000,74.000000,73.000000,72.000000,65.000000,73.000000,65.000000,72.000000,72.000000,73.000000,59.000000,67.000000,62.000000,61.000000,60.000000,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,93.000000,94.000000,93.000000,96.000000,97.000000,96.000000,96.000000,96.000000,96.000000,95.000000,95.000000,96.000000,97.000000,94.000000,95.000000,92.000000,95.000000,94.000000,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [13]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])

In [16]:
df.mean()

foo    4.5
bar    5.7
baz    6.5
dtype: float64

In [1]:
import pandas as pd
football = pd.read_csv('data_sf.xls')
football[(football.Aggression == football.Aggression.max())].ShotPower.mean() / football[(football.Aggression == football.Aggression.min())].ShotPower.mean()

2.076923076923077

In [74]:
small_df = football
#display(football)
s = small_df['FKAccuracy'].value_counts(bins = 5)
s

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [71]:
small_df = football[football.columns[0:7]].head(25)
s = small_df['Wage'].value_counts(bins=4)
display(s)
s.index
s.index[3]
s.index[3].left

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

447250.0

In [67]:
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

   Unnamed: 0       Name  Age Nationality          Club      Value    Wage
0           0   L. Messi   31   Argentina  FC Barcelona  110500000  565000
7           7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000

In [170]:
import pandas as pd
import numpy as np
a=pd.read_csv('data_sf.xls')
spain_p = a[a['Nationality'] == 'Spain'] a[a['Age'] == 21].value_counts(normalize = True)
display(spain_p)

SyntaxError: invalid syntax (<ipython-input-170-503e82cbc35e>, line 4)

In [176]:
import pandas as pd
import numpy as np
a=pd.read_csv('data_sf.xls')
s =round(a[a['Nationality']=='Spain']['Age'].value_counts(normalize=True)*100,2)
s

21    11.77
22     9.54
20     7.75
23     7.15
25     6.41
27     6.26
24     5.96
28     5.37
26     5.37
29     4.77
19     4.77
18     3.87
30     3.87
31     3.28
32     3.28
33     3.13
34     2.24
17     1.34
35     1.19
36     1.04
37     0.89
39     0.30
16     0.30
38     0.15
Name: Age, dtype: float64

In [200]:
a_grouped = a.groupby(['Position'])['Wage'].sum().sort_values(ascending = False) > 5000000
display(a_grouped)
#a_grouped.loc['Juventus']['Wage']

Position
ST      True
GK      True
CB      True
CM      True
LB      True
CAM     True
LM      True
RM      True
RB      True
CDM    False
RCB    False
LCB    False
RW     False
RCM    False
LCM    False
LW     False
LS     False
RDM    False
RS     False
LDM    False
RF     False
LF     False
RWB    False
LAM    False
LWB    False
CF     False
RAM    False
Name: Wage, dtype: bool

In [205]:
a.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending = False).head(10)

                            Wage        Age  ShotPower
Nationality
Dominican Republic  71000.000000  23.000000  75.500000
Egypt               35545.454545  25.818182  59.363636
Gabon               28900.000000  26.400000  56.900000
Croatia             26722.222222  24.819444  54.305556
Equatorial Guinea   25666.666667  28.000000  55.333333
Belgium             20024.390244  24.030488  56.390244
Ecuador             18333.333333  24.619048  60.666667
Uruguay             17590.361446  26.771084  56.192771
Brazil              17371.158392  27.898345  58.203310
Algeria             15810.810811  27.027027  56.567568

In [206]:
a.loc[a['Nationality'] == 'Dominican Republic'][['Name','Age', 'Wage']]

            Name  Age    Wage
291      Mariano   24  140000
6279  L. Quezada   22    2000

In [210]:
a.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending = False)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [226]:
a.groupby(['Club'])[['Name']].count()

                       Name
Club
 SSV Jahn Regensburg     24
1. FC Heidenheim 1846    20
1. FC Kaiserslautern     23
1. FC Köln               10
1. FC Magdeburg          21
...                     ...
Zagłębie Sosnowiec       25
Çaykur Rizespor          22
Örebro SK                26
Östersunds FK            20
Śląsk Wrocław            24

[650 rows x 1 columns]

In [227]:
a.groupby(['Club'])[['Strength','Name']].max()

                       Strength         Name
Club
 SSV Jahn Regensburg         92    S. Stolze
1. FC Heidenheim 1846        86    V. Eicher
1. FC Kaiserslautern         85      W. Hesl
1. FC Köln                   76   Y. Bisseck
1. FC Magdeburg              86    T. Müller
...                         ...          ...
Zagłębie Sosnowiec           84  Z. Udovičić
Çaykur Rizespor              81       S. Koç
Örebro SK                    85  V. Tranberg
Östersunds FK                88     T. Tekie
Śląsk Wrocław                85     W. Golla

[650 rows x 2 columns]

In [311]:
b = a[a['Club'] == 'FC Barcelona']
c = b[a['Nationality'] == 'Argentina']
#display(b)
display(c.groupby(['Nationality'])['Strength'].max())
c.groupby(['Nationality'])['Balance'].max()

<ipython-input-311-0a8cb93eade5>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  c = b[a['Nationality'] == 'Argentina']

Nationality
Argentina    59
Name: Strength, dtype: int64

Nationality
Argentina    95
Name: Balance, dtype: int64

In [417]:
pivot = a.loc[a['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value = 0)
#display(pivot)

In [321]:
df2 = a.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
df2.loc['Manchester City']['GK']

125000.0

In [371]:
pivot = a.pivot_table(
values='Name',
index='Club',
columns='Position',
aggfunc='count',
fill_value = 0
)
display(pivot)
round(pivot['GK'].mean(),3)

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0,5,1,0,2,3,0,2,0,0,...,2,1,0,1,0,0,0,0,0,3
1. FC Heidenheim 1846,1,3,0,0,1,2,0,2,1,0,...,2,1,0,0,0,3,0,0,0,2
1. FC Kaiserslautern,0,3,3,0,0,3,0,2,1,0,...,2,0,0,1,0,2,1,0,0,1
1. FC Köln,0,1,1,0,2,3,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1. FC Magdeburg,0,4,0,1,0,3,0,1,1,1,...,0,1,1,0,0,3,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,3,2,2,0,0,3,0,3,1,0,...,1,1,0,1,0,2,0,0,0,1
Çaykur Rizespor,1,2,5,0,0,3,0,2,1,0,...,3,0,0,1,0,1,0,0,0,1
Örebro SK,0,4,0,0,1,3,0,0,1,1,...,0,1,1,0,0,0,0,2,2,5
Östersunds FK,1,1,0,1,3,3,0,2,1,1,...,1,1,0,0,0,1,0,1,0,1
Śląsk Wrocław,0,1,3,0,1,3,0,2,1,0,...,2,1,0,1,0,2,1,0,0,2

2.525

In [404]:
df = a
pivot = df.pivot_table(index=['Club'], values=['Name'],
                       columns=['Position'],
                       aggfunc='count',
                       fill_value=0)
pivot_df=pivot.reset_index()
s = pivot_df['Name']['CM'].value_counts()
s_df = s.reset_index()
s_df.columns = ['number', 'clubs']
display(s_df)

   number  clubs
0       1    211
1       2    149
2       0    136
3       3     89
4       4     39
5       5     21
6       6      5

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [549]:
df = a
a_st = a[a['Position'] == 'ST']
pivot = a_st.pivot_table(index='Position',
                       values='SprintSpeed',
                       columns='Club',
                       aggfunc = 'mean',
                       fill_value = 0)
pivot.sort_values(by = 'ST', axis = 1,ascending = False)

Club,Vitória,Sydney FC,CD Lugo,Brøndby IF,Leicester City,Manchester United,Feyenoord,KRC Genk,FC Bayern München,FC Zürich,...,Club Atlético Tigre,Chievo Verona,Estudiantes de La Plata,Çaykur Rizespor,Beijing Renhe FC,SV Darmstadt 98,Real Sociedad,San Jose Earthquakes,1. FC Magdeburg,Club Tijuana
Position,,,,,,,,,,,,,,,,,,,,,
ST,91,88,87,84.666667,84.5,84,84,84,84,84,...,49.5,49.5,49,48,47.5,47.5,46,45,44,40

In [529]:
df = a.groupby(['Club']).groups
df['Ajax']

Int64Index([152, 188, 234, 300, 319, 352, 737, 1335, 3111, 3769, 4847, 4897,
            5010],
           dtype='int64')