In [2]:
import numpy as np

In [3]:
array_1 = np.array([1,'v'])

In [4]:
arr3 = np.array([[1,2,3],[4,5,6],[7,8,9,9]])

In [5]:
np.shape(arr3)

(3,)

In [21]:
import numpy as np
import pandas as pd
my_series = pd.Series([5, 6, 7, 8, 9, 10])
my_series.values

array([ 5,  6,  7,  8,  9, 10], dtype=int64)

In [26]:
a = np.ones((3,3,3))

In [33]:
np.random.randint(0, 5, 3)

array([2, 2, 0])

In [34]:
np.random.randint(0, 6, (3, 3))

array([[1, 0, 5],
       [2, 1, 3],
       [4, 3, 4]])

In [38]:
np.random.randint(0, 4, (3, 3))

array([[2, 1, 0],
       [2, 1, 1],
       [3, 0, 0]])

In [39]:
np.arange(1, 14, 2)

array([ 1,  3,  5,  7,  9, 11, 13])

In [40]:
np.array([i for i in range(11) if i%2])

array([1, 3, 5, 7, 9])

In [51]:
my_array = np.array([x for x in range(10) if x%3 == 0])

In [52]:
my_array

array([0, 3, 6, 9])

In [54]:
my_array = np.array([[1,2,3,4], [x for x in range(4)], [45,46,47,48]])
my_array[1][2]
my_array[1,2]

2

In [55]:
my_array[2,3]

48

In [199]:
first_line = [x*y for x in range(2, 100, 6) for y in range (7, 1, -2)]
second_line = [x ** 0.5 for x in range(1000, 1101, 2)]
third_line = [x**2 for x in range(51)]

big_secret = np.array([first_line, second_line, third_line, second_line, first_line])

In [200]:
np.modf(big_secret)

(array([[0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        ],
        [0.6227766 , 0.65438358, 0.68595904, 0.71750305, 0.74901573,
         0.78049716, 0.81194744, 0.84336666, 0.8747549 , 0.90611227,
         0.93743885, 0.96873473, 0.        , 0.03123476, 0.06243908,
         0.09361307, 0.12475681, 0.15587038, 0.18695388, 0.21800739,
         0.24903099, 0.28002478, 0.31098884, 0.34192326, 0.37282811,
         0.40370349, 0.43454948, 0.46536616, 0.49615362, 0.52691193,
         0.55764119, 0.58834147, 0.61901286, 0.64965543, 0.68026928,
         0.71085447, 0.74141109, 0.77193922, 0.80243893, 0.83291032,
         0.86335345, 0.89376841, 0.92415527, 0.95451411, 0.984845  ,
         0.01514804, 0.04542328, 0.07567082, 0.10589071, 0.13608305,
         0.1662479 ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        ],
        [0.6227766 , 0.65438358, 0.68595904, 0.71750305, 0.74901573,
         0.78049716, 0.81194744, 0.84336666, 0.8747549 , 0.90611227,
         0.93743885, 0.96873473, 0.        , 0.03123476, 0.06243908,
         0.09361307, 0.12475681, 0.15587038, 0.18695388, 0.21800739,
         0.24903099, 0.28002478, 0.31098884, 0.34192326, 0.37282811,
         0.40370349, 0.43454948, 0.46536616, 0.49615362, 0.52691193,
         0.55764119, 0.58834147, 0.61901286, 0.64965543, 0.68026928,
         0.71085447, 0.74141109, 0.77193922, 0.80243893, 0.83291032,
         0.86335345, 0.89376841, 0.92415527, 0.95451411, 0.984845  ,
         0.01514804, 0.04542328, 0.07567082, 0.10589071, 0.13608305,
         0.1662479 ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        ]]),
 array([[1.400e+01, 1.000e+01, 6.000e+00, 5.600e+01, 4.000e+01, 2.400e+01,
         9.800e+01, 7.000e+01, 4.200e+01, 1.400e+02, 1.000e+02, 6.000e+01,
         1.820e+02, 1.300e+02, 7.800e+01, 2.240e+02, 1.600e+02, 9.600e+01,
         2.660e+02, 1.900e+02, 1.140e+02, 3.080e+02, 2.200e+02, 1.320e+02,
         3.500e+02, 2.500e+02, 1.500e+02, 3.920e+02, 2.800e+02, 1.680e+02,
         4.340e+02, 3.100e+02, 1.860e+02, 4.760e+02, 3.400e+02, 2.040e+02,
         5.180e+02, 3.700e+02, 2.220e+02, 5.600e+02, 4.000e+02, 2.400e+02,
         6.020e+02, 4.300e+02, 2.580e+02, 6.440e+02, 4.600e+02, 2.760e+02,
         6.860e+02, 4.900e+02, 2.940e+02],
        [3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01,
         3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.300e+01, 3.300e+01, 3.300e+01,
         3.300e+01, 3.300e+01, 3.300e+01],
        [0.000e+00, 1.000e+00, 4.000e+00, 9.000e+00, 1.600e+01, 2.500e+01,
         3.600e+01, 4.900e+01, 6.400e+01, 8.100e+01, 1.000e+02, 1.210e+02,
         1.440e+02, 1.690e+02, 1.960e+02, 2.250e+02, 2.560e+02, 2.890e+02,
         3.240e+02, 3.610e+02, 4.000e+02, 4.410e+02, 4.840e+02, 5.290e+02,
         5.760e+02, 6.250e+02, 6.760e+02, 7.290e+02, 7.840e+02, 8.410e+02,
         9.000e+02, 9.610e+02, 1.024e+03, 1.089e+03, 1.156e+03, 1.225e+03,
         1.296e+03, 1.369e+03, 1.444e+03, 1.521e+03, 1.600e+03, 1.681e+03,
         1.764e+03, 1.849e+03, 1.936e+03, 2.025e+03, 2.116e+03, 2.209e+03,
         2.304e+03, 2.401e+03, 2.500e+03],
        [3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01,
         3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01, 3.100e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01, 3.200e+01,
         3.200e+01, 3.200e+01, 3.200e+01, 3.300e+01, 3.300e+01, 3.300e+01,
         3.300e+01, 3.300e+01, 3.300e+01],
        [1.400e+01, 1.000e+01, 6.000e+00, 5.600e+01, 4.000e+01, 2.400e+01,
         9.800e+01, 7.000e+01, 4.200e+01, 1.400e+02, 1.000e+02, 6.000e+01,
         1.820e+02, 1.300e+02, 7.800e+01, 2.240e+02, 1.600e+02, 9.600e+01,
         2.660e+02, 1.900e+02, 1.140e+02, 3.080e+02, 2.200e+02, 1.320e+02,
         3.500e+02, 2.500e+02, 1.500e+02, 3.920e+02, 2.800e+02, 1.680e+02,
         4.340e+02, 3.100e+02, 1.860e+02, 4.760e+02, 3.400e+02, 2.040e+02,
         5.180e+02, 3.700e+02, 2.220e+02, 5.600e+02, 4.000e+02, 2.400e+02,
         6.020e+02, 4.300e+02, 2.580e+02, 6.440e+02, 4.600e+02, 2.760e+02,
         6.860e+02, 4.900e+02, 2.940e+02]]))

In [198]:
column = 50
total = 0
for row in range(len(big_secret)):
    total += big_secret[row][column]
total

-1.0

In [196]:
total_2 = 1
for i in range(5):
    print(i)
    total_2 = total_2 * big_secret[i][46 + i]

0
1
2
3
4

In [197]:
total_2

-1.0

In [194]:
big_secret[::2,::2] = -1
big_secret[::3,::3] = 1

big_secret

# Python 9.4

In [205]:
number = [x for x in range(1,11)]

In [206]:
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [228]:
height_list = '135 160 163 147 138 149 136 154 137 165'.split()
map_object = map(int, height_list)
height = list(map_object)
height

[135, 160, 163, 147, 138, 149, 136, 154, 137, 165]

In [229]:
weight_list = '34 43 40 44 41 54 39 48 35 60'.split()
map_object = map(int, weight_list)
weight = list(map_object)
weight

[34, 43, 40, 44, 41, 54, 39, 48, 35, 60]

In [232]:
avg_score = '4 5 4.3 5 4.7 3.9 4.2 4.9 3.7 4.6'.split()
map_object = map(float, avg_score)
avg_score = list(map_object)
avg_score

[4.0, 5.0, 4.3, 5.0, 4.7, 3.9, 4.2, 4.9, 3.7, 4.6]

In [237]:
students = np.array([number, height, weight, avg_score])

In [252]:
students = students.T

In [253]:
mean = np.mean(students[:,-1])

In [254]:
mean

4.430000000000001

In [261]:
median = np.median(students[:,-2])
mean = np.mean(students [:,-2])
round(mean - median,1)

1.8

In [271]:
a = np.corrcoef(students[:,1],students[:,-2])
b = np.corrcoef(students[:,1], students[:,-1])
c = np.corrcoef(students[:,2], students[:,-1])
print(a)
print(b)
print(c)

[[1.         0.64314431]
 [0.64314431 1.        ]]
[[1.         0.46293714]
 [0.46293714 1.        ]]
[[1.         0.29801325]
 [0.29801325 1.        ]]

In [273]:
d = np.std(students[:,-1])
d

0.4517742799230607

In [277]:
f = np.std(students[:,-2])

In [281]:
f**2

60.36

# Final test

In [6]:
my_array = np.array([[1,2,3,4,5],
                     [6,7,8,9,10],
                     [11,12,13,14,15],
                     [16,17,18,19,20],
                     [21,22,23,24,25]])

In [7]:
my_array_2 = my_array[1:4,1:4]

In [8]:
my_array_2

array([[ 7,  8,  9],
       [12, 13, 14],
       [17, 18, 19]])

In [16]:
np.shape(my_sin)

(5, 5)

In [70]:
my_sin = np.sin(my_array)

In [71]:
a = np.sum(my_sin)
round(a,3)

-0.058

In [72]:
my_sin[1:4, 1:4] = 1

In [73]:
my_sin

array([[ 0.84147098,  0.90929743,  0.14112001, -0.7568025 , -0.95892427],
       [-0.2794155 ,  1.        ,  1.        ,  1.        , -0.54402111],
       [-0.99999021,  1.        ,  1.        ,  1.        ,  0.65028784],
       [-0.28790332,  1.        ,  1.        ,  1.        ,  0.91294525],
       [ 0.83665564, -0.00885131, -0.8462204 , -0.90557836, -0.13235175]])

In [74]:
np.sum(my_sin)

7.571718421269144

In [87]:
my_sin_reshape = my_sin[::,:4].reshape(10,2)

In [88]:
my_sin_reshape

array([[ 0.84147098,  0.90929743],
       [ 0.14112001, -0.7568025 ],
       [-0.2794155 ,  1.        ],
       [ 1.        ,  1.        ],
       [-0.99999021,  1.        ],
       [ 1.        ,  1.        ],
       [-0.28790332,  1.        ],
       [ 1.        ,  1.        ],
       [ 0.83665564, -0.00885131],
       [-0.8462204 , -0.90557836]])

In [82]:
my_sin[::,0:4]

array([[ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ],
       [-0.2794155 ,  1.        ,  1.        ,  1.        ],
       [-0.99999021,  1.        ,  1.        ,  1.        ],
       [-0.28790332,  1.        ,  1.        ,  1.        ],
       [ 0.83665564, -0.00885131, -0.8462204 , -0.90557836]])

In [89]:
np.shape(my_sin_reshape)

(10, 2)

In [92]:
total = 0
for i in range (10):
    total += my_sin_reshape[i][0]
round(total,3)

2.406

In [91]:
total

2.4057172058139544

In [121]:
num_list = []
for num in range (101,1001,2):
    num_list.append(num**2)
bigdata = np.array(num_list)
bigdata

array([ 10201,  10609,  11025,  11449,  11881,  12321,  12769,  13225,
        13689,  14161,  14641,  15129,  15625,  16129,  16641,  17161,
        17689,  18225,  18769,  19321,  19881,  20449,  21025,  21609,
        22201,  22801,  23409,  24025,  24649,  25281,  25921,  26569,
        27225,  27889,  28561,  29241,  29929,  30625,  31329,  32041,
        32761,  33489,  34225,  34969,  35721,  36481,  37249,  38025,
        38809,  39601,  40401,  41209,  42025,  42849,  43681,  44521,
        45369,  46225,  47089,  47961,  48841,  49729,  50625,  51529,
        52441,  53361,  54289,  55225,  56169,  57121,  58081,  59049,
        60025,  61009,  62001,  63001,  64009,  65025,  66049,  67081,
        68121,  69169,  70225,  71289,  72361,  73441,  74529,  75625,
        76729,  77841,  78961,  80089,  81225,  82369,  83521,  84681,
        85849,  87025,  88209,  89401,  90601,  91809,  93025,  94249,
        95481,  96721,  97969,  99225, 100489, 101761, 103041, 104329,
       105625, 106929, 108241, 109561, 110889, 112225, 113569, 114921,
       116281, 117649, 119025, 120409, 121801, 123201, 124609, 126025,
       127449, 128881, 130321, 131769, 133225, 134689, 136161, 137641,
       139129, 140625, 142129, 143641, 145161, 146689, 148225, 149769,
       151321, 152881, 154449, 156025, 157609, 159201, 160801, 162409,
       164025, 165649, 167281, 168921, 170569, 172225, 173889, 175561,
       177241, 178929, 180625, 182329, 184041, 185761, 187489, 189225,
       190969, 192721, 194481, 196249, 198025, 199809, 201601, 203401,
       205209, 207025, 208849, 210681, 212521, 214369, 216225, 218089,
       219961, 221841, 223729, 225625, 227529, 229441, 231361, 233289,
       235225, 237169, 239121, 241081, 243049, 245025, 247009, 249001,
       251001, 253009, 255025, 257049, 259081, 261121, 263169, 265225,
       267289, 269361, 271441, 273529, 275625, 277729, 279841, 281961,
       284089, 286225, 288369, 290521, 292681, 294849, 297025, 299209,
       301401, 303601, 305809, 308025, 310249, 312481, 314721, 316969,
       319225, 321489, 323761, 326041, 328329, 330625, 332929, 335241,
       337561, 339889, 342225, 344569, 346921, 349281, 351649, 354025,
       356409, 358801, 361201, 363609, 366025, 368449, 370881, 373321,
       375769, 378225, 380689, 383161, 385641, 388129, 390625, 393129,
       395641, 398161, 400689, 403225, 405769, 408321, 410881, 413449,
       416025, 418609, 421201, 423801, 426409, 429025, 431649, 434281,
       436921, 439569, 442225, 444889, 447561, 450241, 452929, 455625,
       458329, 461041, 463761, 466489, 469225, 471969, 474721, 477481,
       480249, 483025, 485809, 488601, 491401, 494209, 497025, 499849,
       502681, 505521, 508369, 511225, 514089, 516961, 519841, 522729,
       525625, 528529, 531441, 534361, 537289, 540225, 543169, 546121,
       549081, 552049, 555025, 558009, 561001, 564001, 567009, 570025,
       573049, 576081, 579121, 582169, 585225, 588289, 591361, 594441,
       597529, 600625, 603729, 606841, 609961, 613089, 616225, 619369,
       622521, 625681, 628849, 632025, 635209, 638401, 641601, 644809,
       648025, 651249, 654481, 657721, 660969, 664225, 667489, 670761,
       674041, 677329, 680625, 683929, 687241, 690561, 693889, 697225,
       700569, 703921, 707281, 710649, 714025, 717409, 720801, 724201,
       727609, 731025, 734449, 737881, 741321, 744769, 748225, 751689,
       755161, 758641, 762129, 765625, 769129, 772641, 776161, 779689,
       783225, 786769, 790321, 793881, 797449, 801025, 804609, 808201,
       811801, 815409, 819025, 822649, 826281, 829921, 833569, 837225,
       840889, 844561, 848241, 851929, 855625, 859329, 863041, 866761,
       870489, 874225, 877969, 881721, 885481, 889249, 893025, 896809,
       900601, 904401, 908209, 912025, 915849, 919681, 923521, 927369,
       931225, 935089, 938961, 942841, 946729, 950625, 954529, 958441,
       962361, 966289, 970225, 974169, 978121, 982081, 986049, 990025,
       994009, 998001])

In [123]:
median = np.median(bigdata[::])

In [124]:
median

302501.0

In [125]:
std = np.std(bigdata)

In [126]:
round(std)

292095.0

In [140]:
a = bigdata.reshape(225,2)
a = a.T

In [142]:
corr = np.corrcoef(a[:,0],a[:,1])

In [143]:
corr

array([[1., 1.],
       [1., 1.]])

In [141]:
a.shape

(2, 225)